  <!-- About -->
  <section id="sidebar">
    <section id="intro">
      <a class="logo"><img src="{{site.author.logo | prepend: site.baseurl}}" alt="" /></a>
      <header>
        <h2>Blog</h2>
        <p>By <a href="{{site.author.linkedin}}">{{site.author.name}}</a></p>
      </header>
      <img class='introIcon' src="../images/python-black.svg" />
      <img class='introIcon' src="../images/play-button.svg"/>
      <img class="introIcon" src="../images/barChart.svg"/>
    </section>


  <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li><a href="mailto:{{site.author.email}}" class="fa-envelope"><span >Email</span></a></li>
        <li><a href="https://www.linkedin.com/in/zih-you-yang/" class="fa-linkedin-square"><span >LinkedIn</span></a></li>
        <li><a href="https://github.com/{{site.author.github_username}}" class="fa-github"><span >GitHub</span></a></li>
        <li><a href="{{site.author.cv}}" class="fa-github"><span >CV</span></a></li>           
      </ul>
    </section>